@model NetCoreInital.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
    <h1>@Model.CurrentMessage</h1>
@foreach (var restaurant in Model.Restaurants)
{
    @Html.Partial("Summary", restaurant);
}

<a asp-controller="Home" asp-action="Create">Create</a>